header {
  width: 100%;
  padding-top: 16px;
  position: fixed;
  z-index: 100;

  @include responsive() {
    padding-top: 0;
  }
}

.navbar {
  max-width: 1440px;
  height: 96px;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-between;

  @include responsive() {
    height: 60px;
    margin: 8px 0;
  }
}

.nav-menu {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.logo {
  max-width: 96px;

  @include responsive() {
    width: 60px;
  }
}

.nav-list {
  list-style: none;

  display: flex;

  @include responsive() {
    display: none;
  }

  li {
    margin-left: 24px;
  }
}

.nav-link {
  display: inline-block;
  padding: 8px 16px;
  position: relative;

  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 200;

  color: $gray-3;

  transition: 0.7s ease;

  &::after {
    content: "";
    display: block;

    position: absolute;
    left: 50%;
    top: -40px;

    width: 2px;
    height: 0px;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0) 0%, $red 100%);
    transition: 0.7s ease;
  }

  &:hover {
    color: $white-light;

    &::after {
      height: 40px;
    }
  }
}

.bx {
  display: none;

  @include responsive() {
    width: 48px;
    height: 48px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 4px;
      background-color: white;
      border-radius: 2px;
      margin: 4px 0;
    }

    &::before {
      content: "";
      display: block;
      width: 100%;
      height: 4px;
      background-color: white;
      border-radius: 2px;
      margin: 4px 0;
    }
  }
}

.nav-social {
  display: flex;
  align-items: center;
  margin-left: 0;

  @include responsive() {
    display: none;
  }

  svg {
    cursor: pointer;
    margin-left: 16px;
    width: 24px;

    path,
    circle {
      transition: 0.7s ease;
    }

    &:hover {
      path,
      circle {
        fill: $red-light;
        transform: translateY(-3px);
      }
    }
  }
}
